@media (prefers-color-scheme:dark) {
    :root {
        --mcolor:white;
        --dots:white;
        --body:#313131;
    }
    .header__top {
        background-color: #0C0C0C;
    }
    .top__box select {
        color: var(--mcolor);
        background-color: #0C0C0C;
    }
    .input-group div {
        background-color: var(--body) !important;
    }
    .input-group .form-control {
        background-color: var(--body) !important;
    }
    .main-title {
        color: white;
    }
    .all-btn {
        background-color: var(--body);
        color: white;
        border:1px solid white;
    }
    .footer {
        background-color:#0C0C0C ;
    }
    .nav-link::after {
        background-color: white;
    }
}
@media (max-width:992px) {
   
    .logo-search {
        min-height: 100px;
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .header-title {
       font-size: 40px;
       line-height: 50px;
    }
    .all-btn {
        font-size: 14px;
        line-height: 16px;
    }
    .header-button {
        padding: 10px 40px;
    }
    .carousel-inner {
        margin-bottom: 30px;
    }
    .gadjet-cost,
    .gadjet-name {
        font-size: 20px;
        line-height: 24px;
    }
    .watch::before,
    .airpod::before,
    .power::before,
    .remax::before {
        width: 40px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
    } 
    .watch::before,
    .airpod::before {
    top: 0;
    left: 0;
    }
    .power::before,
    .remax::before {
        bottom: 0;
        left: 0;
    }
    .gadjet-name,
    .gadjet-cost {
        font-size: 18px;
        line-height: 20px;
    }
    .play-section {
        height: auto;
    }

    .play-title {
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 40px;
    }
    .play-button {
        width: 150px;
    }
    .sign-text {
        width: 100px;
        padding: 0 10px !important;
    }
    .list-link {
        margin-left: auto;
    }
}
@media (max-width:768px) {
    .logo-search {
        height: 150px;
    }
    .main-title {
        font-size: 30px;
        line-height: 34px;
    }
    .navbar .nav-link {
        line-height: 30px;
    }
    .play-left img {
        width: 200px;
    }
    .play-title {
        font-size: 30px;
        line-height: 34px;
    }
    .footer {
        height: 350px;
    }
    .icon-items {
        margin: 0 auto;
    }
    /* .power,
    .airpod,
    .remax {
        height: 200px;
    } */
    .sign-text {
        font-size: 14px;
        line-height: 16px;
        width: 90px;
    }
    .carousel-item::after{
        width: 16%;
        height: 50%;
        box-shadow: 0px 0px 70px 40px grey;
    
    }
    
}
@media (max-width:576px) {
    
    /* .watch {
        height: 300px;
        overflow: hidden;
    }
    .airpod{
        overflow: hidden;
        height: 200px;
    }
    .remax,
    .power {
        height: 300px;
        overflow: hidden;
    } */
   
    .main-title {
        text-align: center;
    }
    .laptop img {
        width: 100%;
    }
    .power::before,
    .remax::before {
        bottom: 20px;
        left: 15px;
    }
    .gadjet-button {
        max-width: 150px;
        padding: 8px 15px;
    }
    .play-left {
        position: static;
    }
    .play-img {
        position: static;
        max-width: 400px;
        background-position: right;
    }
    .top-sell img {
        width: 100%;
    }
    .phone-item {
        height: 320px;
    }
    
}
@media (max-width:480px) {
    .top-items {
        gap: 10px;
    }
    .top__box select {
        margin-right: 30px;
    }
    
    .indicator-item {
        height: 8px !important;
        width: 8px  !important;
    }
    .carousel-indicators [data-bs-target].active{
        width: 12px  !important;
        height: 12px !important;
    }
    .main-title {
        font-size: 26px;
        line-height: 28px;
    }
    .play-button {
        margin: 0 auto;
    }
    .play-left img {
        margin: 0 auto;
    }
    .play-left  {
        text-align: center;
    }

}
@media (max-width:460px) {
    .search-item p {
        display: none;
    }
    .sign-text {
        display: block !important;
    }
    .search-item span {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header-title {
        font-size: 34px;
        line-height: 36px;
    }
    .all-btn {
        font-size: 12px;
        line-height: 14px;
    }
    .header-button {
        padding: 8px 36px;
        height: 40px;
    }
}
@media (max-width:430px) {
     .header__top >div {
         justify-content: space-between;
     }
     .top__box select {
         margin-right: 0;
     }
     /* .watch {
        height: 240px;
        overflow: hidden;
    }
    .airpod{
        overflow: hidden;
        height: 200px;
    }
    .remax,
    .power {
        height: 220px;
        overflow: hidden;
    } */
    
}

@media (max-width:390px){
    .top-item-1,
    .top-item-3 {
        display: none;
    }
    .search input {
        padding: 4px;
        font-size: 14px;
    }
    .watch,
    .airpod,
    .power,
    .remax {
        max-width: 270px;
    }
    
}
@media (max-width:320px) {
    .laptop .phone-item {
        height: 280px;
    }
    .search-item span {
        padding: 0;
    }
    .phone-item {
        height: 330px;
    }
    .search .input-group {
        padding-left: 0;
        padding-right: 0;
    }
    .header-title {
        font-size: 28px;
        line-height: 30px;
    }
    .remax,
    .power {
        height: 160px;
        overflow: hidden;
    }
    .phone-item {
        max-width: 250px;
    }
    .name-price {
        top: 160px;
    }
    .laptop .name-price  {
         top: 170px;
    }
    .name-price h3,p {
        font-size: 14px;
        line-height: 16px;
    }
    .icon-items {
        width: 100%;
    }
}
