@import url(./fonts.css);
:root {
    --notoreg:'NotoSans-regular';
    --notobold:'NotoSans-bold';
    --mcolor:#313131;
    --dots:#ABABAB;
    --body:white;
    
}
body {
    background-color: var(--body);
   
}
/* Header style start*/
.header__top {
    height: 50px;
    background-color: #0C0C0C;
    color: white;
    display: flex;
    align-items: center;
}
.lang {
     height: 100%;
     display: flex;
     align-items: center;
}
.lang select {
    display: flex;
}
.top__box select {
   background-color: #0C0C0C;
   color: white;
   font-family: var(--notoreg);
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   border: none;
   margin-right: 80px;
}
.top-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.top-items li {
    list-style: none;
    
}
.top-items a {
    text-decoration: none;
    color: white;
    font-family: var(--notoreg);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    transition: 0.5s;
}
.top-items a:hover {
    
    text-decoration: underline;
    color: white;
}


/* Header style end*/
/* Main-header style start */
.logo-search {
    height: 100px;
}
.search-text {
    color: white;
}
.logo {
    /* min-width: 200px; */
   
    text-transform: uppercase;
    font-family: var(--notobold);
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #313131;
}
.logo img {
    width: 50px;
    height: 64px;
}
.search {
    max-width: 630px;
    width: 100%;
    
}
.search label {
    /* white-space: nowrap; */
    background: #313131;
    color: white;
    /* padding: 15px 17px; */
}
.input-group input, .input-group-text {
   border-radius: 0%;
   padding: 10px 10px !important;
   border-radius: 0% !important;
}

.form-control {
    padding: 0;
}
.search >div {
    box-sizing: border-box;
}
.search-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-text {
    font-size: 14px;
    line-height: 19px;
    font-family: var(--notoreg);
    font-weight: 400;
    vertical-align: middle;
    margin: 0 !important;
    border-radius: 0% !important;
}
.input-group-text span {
    text-align: center;
    font-size: 17px;
}
.input-group-text {
    background-color: var(--mcolor) !important;
    color: white !important;
}
.input-group-text span,search-text {
    color: white; 
}
/* Main-header style start */
/* Navbar styles start */

.navbar-nav .nav-link {
    font-size: 18px;
    line-height: 70px;
    color: #313131;
    font-family: var(--notoreg);
    font-weight: 400;
}
.collapse {
    margin: 0 auto;
}
.navigation-icon {
    color: #313131 !important;
}
.menu-box {
    position: relative;
}
.menu {
    width: 1.5em;
    height: 2px !important;
    background-color: var(--mcolor);
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 0;
}
.menu-box::after, .menu-box::before {
    content: '';
    width: 1.5em;
    height: 2px !important;
    background-color: var(--mcolor);
    position: absolute;
    z-index: 2;
}
.menu-box::after {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.menu-box::before {
    top: 100%;
    left: 0;
    transform: translateY(-100%);
}
.menu-box:focus .menu-box::after{
    transform: rotateZ(45deg);
}
.nav-link  {
    color: var(--mcolor) !important;
    box-sizing: border-box;
    position: relative;
    transition: 0.5s;
    /* transition:  !important; */
}
.nav-link:hover::after {
    transform: scale(1);
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 3px;
    transform: scale(0);
    background-color: #313131;
    transition: 00.5s;
}
/* Navbar styles end */
/* Carusel start */
.carousel {
    position: relative;
    z-index: 0;
}
.indicator-items {
    position: absolute ;
    text-align: end;
    
    column-gap: 25px;
}
.carousel-inner {
    position: relative;
    z-index: -1;
}
.indicator-item {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
   
    background-color: var(--mcolor) !important;
}
.carousel-indicators [data-bs-target].active {
    width: 15px !important;
    height: 15px !important;
}
.carousel-item  {
   position: relative;
   z-index: 1;
}
.carousel-item::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 60%;
    top: 50%;
    left: 50%;
    background-color: grey;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    box-shadow: 0px 0px 90px 60px grey;
    opacity: 0.5;
    transition: 0.5s;
    display: none;
}
.carousel-item:hover::after {
    opacity: 1;
}
.active img {
   
    /* border-radius: 50%; */
    /* filter: drop-shadow(-10px 5px 3px rgba(0, 0, 0, 0.25));
    box-shadow: inset 10px 10px 10px grey; */
    position: relative;
    z-index: 3;
}

.header-title {
    font-family: var(--notobold);
    font-weight: 600;
    color: var(--mcolor);
    font-size: 48px;
    line-height: 70px;
    text-align: center;
}
.all-btn {
    font-size: 18px;
    line-height: 25px;
    font-family: var(--notoreg);
    font-weight: 400;
    text-align: center;
    color: white;
    background-color: var(--mcolor);
}
.header-button {
    padding: 13px 46px;
    max-width: 200px;
    border: none;
    height: 50px;
}
/* Carusel end */
/* Main section start */
/* Gadjet styles start */



.gadjet-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    font-family: var(--notoreg);
    color: var(--mcolor);
}
.gadjet-cost {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    font-family: var(--notoreg);
    color: var(--mcolor);
}
.gadjet-section img {
    display: block;
    width: 100% !important;
}
.gadjet-button {
    max-width: 190px;
    margin: 0 auto;
    padding: 12px 28px;
}
/* Gadjet styles end */
/* Phone style start */
.main-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    font-family: var(--notobold);
}
.phone-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--notoreg);
}
.phone-price {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    font-family: var(--notoreg);
}
.phone-items {
    /* row-gap: 10px; */
    gap: 10px;
}
.phone-item {
    height: 330px;
    max-width: 300px;
    position: relative;
    transition: 0.5s;
    box-sizing: border-box;
}
.phone-img{
    position: relative;
    z-index: 1;
}
.phone-img img {
    position: relative;
    z-index: 1;
}


.phone-img {
   margin-bottom: 10px;
   position: relative;
   z-index: 1;
}

.phone-img::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 8px;
    bottom: 0;
    left: 50%;
    background-color: grey;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
    box-shadow: 0px 0px 40px 20px grey;
    opacity: 0.5;
    transition: 0.5s;
    display: none;
}
.phone-item:hover .phone-img::after {
    opacity: 1;
}
.name-price {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 190px;
    transform: translateX(-50%);
}
.phone-item img {
    display: block;
    margin: 0 auto;
}
.phone-item h3,p {
    text-align: center;
    color: var(--mcolor);
}
.phone-item span {
    position: absolute;
    top: 17px;
    right: 17px;
    color: var(--mcolor);
    font-size: 17px;
    display: block;
    transform: scale(0);
    transition: 0.5s;
}
.buy-button {
    position: absolute;
    padding: 5px 36px;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%) translateY(50%) scale(0);
    text-align: center;
    max-width: 100px;
    margin: 0 auto;
    display: block;
    transition: 0.5s;
}
.phone-item:hover .buy-button {
    transform: translateX(-50%) translateY(50%) scale(1);
}
.phone-item:hover span {
    transform: scale(1);
}
.phone-item:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}



/* Phone style end */
/* Laptop style start */
.laptop .name-price{
    top: 200px;
}
.laptop-items {
    gap: 10px;
}
.laptop img {
    width: 100%;
    display: block;
    margin: 0 auto;
    /* margin-bottom: 40px; */
}
.laptop .phone-img::after {
    top: 50%;
    width: 30%;
    height: 30%;
   
    bottom: 0;
    left: 50%;
    /* background-color: grey; */
    border-radius: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
    box-shadow: 0px 0px 80px 50px grey;
    opacity: 0.5;
    transition: 0.5s;
    
}
/* Top-sell start */
.top-sell .name-price{
    top: 200px;
}
.top-sell img {
    width: 100%;
}
/* Top-sell end */
/* Laptop style end */
/* Play section start */
.play-section {
    height: 500px;
}
.play-box img {
    width: 100%;
}
.play-left img {
    margin-bottom: 30px;
}
.topsell-img {
    position: relative;
    z-index: 1;
}
.top-sell img {
    position: relative;
    z-index: 1;
}
.topsell-img::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: 55%;
    left: 50%;
    background-color: grey;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
    box-shadow: 0px 0px 50px 40px grey;
    opacity: 0.5;
    transition: 0.5s;
    display: none;
}
.phone-item:hover .topsell-img::after {
    opacity: 1;
}

.play-button {
    width: 190px;
    padding: 12px 20px;
    font-size: 18px;
    line-height: 25px;
    font-family: var(--notoreg);
    font-weight: 400;
}
.play-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    font-family: var(--notobold);
    color: var(--mcolor);
    margin-bottom: 70px;
}
/* Play section end */
/* Main section end */
/* Footer style start */
.footer {
    height: 230px;
    background-color:var(--mcolor);
}
.footer-items {
    height: 100%;
}

.logo-white {
    color: white;
}

.sign-up .sign-up{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: white;
}
.sign-label {
    color: white;
    font-size: 18px;
    line-height: 25px;
    font-family: var(--notoreg);
    font-weight: 400;
}
.sign-text {
    padding: 0 59px !important;
    color: white;
    color: white;
    font-size: 18px;
    line-height: 25px;
    font-family: var(--notoreg);
    font-weight: 400;
}
.icon-items {
    gap: 23px;
    max-width: 250px;
}
.icon-items span::before {
    /* font-size: 41px; */
    color: white;
    font-size: 40px;
    margin-right: 23px;
}
.icon-items a:hover {
    color: aqua;
}
.list-link {
    margin: 0 auto;
}
.list-link .nav-link::after {
    display: none;
}
.list-link .nav-link {
    color: white !important;
    font-size: 18px;
    line-height: 25px;
    font-family: var(--notoreg);
    font-weight: 400;
}

/* Footer style end */